<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Play Button Animation</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
      <label>
        <input type="checkbox" class="play-btn" />
        <div class="play-icon"></div>
        <div class="pause-icon"></div>
      </label>
    </div>
<!-- partial -->
<div class="custom-audio-player">
  <audio id="audio">
    <source src="audio.mp3" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>
  <button id="play-pause">Play</button>
  <input type="range" id="seek-bar" value="0">
  <span id="current-time">00:00</span> / <span id="duration">00:00</span>
</div>
</body>
</html>
