<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Música</title>
    <link rel="stylesheet" href="../Styles/Index-css.css">  
    <!--<script src="../../node_modules/angular/angular.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
</head>

<body>
   
    <div class="player flex flex-col items-center justify-center min-h-screen bg-gray-100">
        <h1>Reproductor de Música</h1>
        <audio id="audio" controls>
            <source id="audioSource" src="" type="audio/mpeg">
            No se soporta ese formato de audio.
        </audio>
        <input type="file" id="fileInput" accept="audio/*">
        <a href="prueba.html">Pruebame </a>
    </div>

    <script>
        const fileInput = document.getElementById('fileInput');
        const audio = document.getElementById('audio');
        const audioSource = document.getElementById('audioSource');

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
                const fileURL = URL.createObjectURL(file);
                audioSource.src = fileURL;
                audio.load();
                audio.play();
            }
        });
    </script>
</body>
</html>