<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Música</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="..\Styles\Prueba.css">
</head>
<body>
    <h1 id="Titulo">Reproductor de Música</h1>
    <button id="select-directory">Seleccionar Carpeta</button>
    <ul id="music-list"></ul>
    <script src="../../renderer.js"></script>
</body>
</html>