<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="Titulo">Just Music</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="../../Static/Styles/Prueba.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 id="Titulo">Just Music</h1>
    <button id="select-directory">Seleccionar Carpeta</button>
    <a href="prueba_imagen.html">Pruebame</a>
    <a href="boton.html">boton</a>
    <table id="music-table">
        <thead>
            <tr>
                <th class="columna-1">Elemento</th>
                <th class="columna-2">Duración</th>
                <th class="columna-3" id="">Play</th>
            </tr>
        </thead>
        <tbody id="music-list">
        </tbody>
    </table>
    <div id="Audio-Controles" class="sticky-bottom">
        <div id="Nombre-song"></div>
        <audio id="audio" controls>
            <source id="audioSource" src="" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
    <script src="../../renderer.js"></script>
</body>
</html>