<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="Titulo">Just Music</title>
    <link rel="shortcut icon" href="../../Static/Font/hard-drive.png" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline';">
    <link rel="stylesheet" href="../../Static/Styles/Prueba.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="loader">
            <img src="../../Static/Font/hard-drive.png" alt="">
    </div>
    <div id="content" style="display: none;">
        <div id="logo_div">
            <img id="MinLogo" src="../../Static/Font/hard-drive.png" alt=""> 
            <h1 id="Titulo" >   Just Music</h1>
        </div>
    <button id="select-directory"><img src="../../Static/Font/folder.png" alt=""></button>
    <span id="Ruta">Sin ruta</span>
    <table id="music-table">
        <thead>
            <tr>
                <th class="columna-1">Canción</th>
                <th class="columna-2"><img id="time" src="../../Static/Font/time.png"></th>
                <th class="columna-3" id=""></th>
            </tr>
        </thead>
        <tbody id="music-list">
        </tbody>
    </table>
    <div id="Audio-Controles" class="sticky-bottom">
        <div id="Nombre-song"></div>
        <audio id="audio" controls>
            <source id="audioSource" src="" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
    </div>
    <script src="../../renderer.js"></script>
</body>
</html>