/*
Comentando el cambio de color que haré.
Quiero implementar angular y hacerlo más limpio y funcional por lo que lo primero que haré será
cambiar a angular y despues añadir funciones.
los colres que usare son::after
negro
morado oscuro
morado menos oscuro xdd
rosa osuro asi medio palido


#1A1A1D
#3B1C32
#6A1E55
#A64D79
rgb(26, 26, 29)
rgb(59, 28, 50)
rgb(106, 30, 85)
rgb(166, 77, 121)
*/
.play-pause-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.play-pause-checkbox {
  display: none;
}

.play-pause-button {
  width: 30px; 
  height: 30px; 
  background-color: #020000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.play-pause-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-top: 7.5px solid transparent; 
  border-bottom: 7.5px solid transparent; 
  border-left: 12.5px solid white; 
}
.play-pause-checkbox:checked + .play-pause-button {
  background-color: #d60000;
}
.play-pause-checkbox:checked + .play-pause-button::before {
  width: 10px; 
  height: 15px; 
  border: none;
  background: linear-gradient(
    to right,
    white 0%,
    white 30%,
    transparent 30%,
    transparent 70%,
    white 70%,
    white 100%
  );
  transform: translate(-50%, -50%);

}
