/*body{
    background: rgb(145,159,246);
    background: radial-gradient(circle, rgba(145,159,246,1) 0%, rgba(154,94,94,1) 100%);;
}*/
@font-face {
    font-family: 'Bungee Tint';
    src: url("../Font/BungeeTint-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
#Titulo {
    color: Black;
    font-family: 'Bungee Tint', sans-serif;
    
}

#music-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10%;
}

#music-table th, #music-table td {
    /*border: 1px solid;
    padding: 4px;*/
}

/*#music-table th {
    background-color: #f4f4f4;
    color: #333;
}*/

.columna-1 {
    width: 60%; 
}

.columna-2 {
    width: 20%; 
}

.columna-3 {
    width: 20%;
    text-align: center; 
}

.Elemento {
    padding: 10px;
}

.Play {
    cursor: pointer;
    text-align: center; 
}
tr:hover{
    font-size: large;
    background-color: #fcd8d8;
}
.Play:hover {
    background-color: #ffa9a9;
    font-size:x-large;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000; 
}
#loader{
    position: absolute;
    text-align: center; 
    top: 45%;
    left: 45%;
}
#loader img {
    width: 100px;
    animation: pulse 1.5s infinite;
}
#content{
    display: none;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
#logo_div {
    display: flex;
    gap: 10px; 
    margin-bottom: 10px;
    margin-left: 5%;
}

#MinLogo {
    height: 40px;
    width: auto;
}

#Titulo {
    margin: 0;
}
#select-directory img{
    width: 20px;
    height: 20px;
    margin: 2px;
}
#select-directory{
    background-color: white;
    border-radius: 50px;
    margin-left: 5%;

}
#time{
    max-width: 40px;
    max-height: 40px;
    width: 30px;
    height: 30px;
}
#Audio-Controles{
    display: inline-block;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
/*
#Nombre-song{
    display: inline-block;
    right: 28%;
    position: relative;
}*/